<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            height: 500px;
            padding-top: 50px;
            display: flex;
        }
        .first{
            height: 600px;
            width: 1700px;
            border: 2px solid  black;
            display: flex;
        }
        .img{
            height: 350px;
            margin : 80px;
            width: 270px;
            background-color: aqua;
            display: flex;
            align-items: center;
        }
        .second{
            width: 600px;
            height: auto;
            padding: 100px;
        }
        .rating{
            padding-top: 450px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="first">
            <div class="img" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3yUrM0cvxR89AcqYJ57YcvB496qZygIiZIg&s');"</div>
                <div class="rating">Rating
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
        </div>
        <div class="second">
            <h1>Information</h1>
            <p>Venissa offers innovative dishes rooted in local and seasonal ingredients. Highlights include:

                - *Gnocchi with Fig Leaf and Tarragon Oil*
                <br>  
                - *Artichoke Risotto with Black Garlic*  
                <br>
                - *Albacore Tuna with Fig Leaf Cream*  
                <br>
                - *Lemon Sponge with Licorice Sorbet*  
                <br>
                The menu evolves seasonally, focusing on sustainability and Venetian flavors</p>
                <h2>Left over food</h2>
                <h3>Meals</h3>
                <h3>Salads</h3>
            <a href="https://www.google.com/maps/dir/17.3801472,78.3777792/Venissa,+sri+Lakshmi+nagar+colony,+Plot+no.3,+mansoorabad+lbnagar,+keshavnagar+colony,+Hyderabad,+Telangana+500074/@17.3472822,78.4685353,12z/data=!3m1!4b1!4m19!1m8!3m7!1s0x3bcb99005700a729:0x9fd213ee2bc961a0!2sVenissa!8m2!3d17.3538322!4d78.5592597!15sCgx2ZW5pc3NhIGNhZmVaDiIMdmVuaXNzYSBjYWZlkgEEY2FmZeABAA!16s%2Fg%2F11y3q68z1h!4m9!1m1!4e1!1m5!1m1!1s0x3bcb99005700a729:0x9fd213ee2bc961a0!2m2!1d78.5592597!2d17.3538322!3e9?entry=ttu&g_ep=EgoyMDI0MTExMy4xIKXMDSoASAFQAw%3D%3D" style="font-size: 20px; text-decoration: none;">Location</a>
            <br><br><br>
            <a href="tel:9063193710" style="font-size: 20px; text-decoration: none;">Contact : 9063193710</a>
        </div>
    </div>
</body>
</html>